body {
    background-color: aqua;
    background-image: url(https://imgix.ranker.com/user_node_img/50072/1001435930/original/spongebob-in-the-flesh-terror-has-a-new-face-photo-u1?w=650&q=50&fm=jpg&fit=crop&crop=faces);
    background-repeat: no-repeat;
    background-position: top right;
    margin-right: 100px;
}
