body {
    background-color: rgb(216, 233, 233);
    /* background-image: url(https://assets.atlasobscura.com/media/W1siZiIsInVwbG9hZHMvcGxhY2VfaW1hZ2VzLzdmZDlhYmI1ZGMzNGU1N2M0M19tYXJzY2hlZXNlNy5qcGciXSxbInAiLCJ0aHVtYiIsIngzOTA-Il0sWyJwIiwiY29udmVydCIsIi1xdWFsaXR5IDgxIC1hdXRvLW9yaWVudCJdXQ);
    background-repeat: no-repeat; */
    /* background-position: top right;
    margin-right: 100px; */ */
}
/* character field, integer field, float field, boolean field, text field */